// Variables
$vodafone-red      : #e60000;
$vodafone-light-red: #ff1a1a;
$primary-color     : #ff0000;

// Styles globaux
body {
    margin         : 0 !important;
    padding        : 0 !important;
    box-sizing     : border-box;
    background-size: cover;

}

//Police vodafone 

@font-face {
    font-family: 'Vodafone';
    src        : url('/fonts/Vodafone.eot');
    src        : local('Vodafone'),
        url('/fonts/Vodafone.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Vodafone.woff2') format('woff2'),
        url('/fonts/Vodafone.woff') format('woff'),
        url('/fonts/Vodafone.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Vodafone';
    src        : url('/fonts/Vodafone-Bold.eot');
    src        : local('Vodafone-Bold'),
        url('/fonts/Vodafone-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Vodafone-Bold.woff2') format('woff2'),
        url('/fonts/Vodafone-Bold.woff') format('woff'),
        url('/fonts/Vodafone-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style : normal;
}

@font-face {
    font-family: 'Vodafone';
    src        : url('/fonts/Vodafone-Light.eot');
    src        : local('Vodafone-Light'),
        url('/fonts/Vodafone-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Vodafone-Light.woff2') format('woff2'),
        url('/fonts/Vodafone-Light.woff') format('woff'),
        url('/fonts/Vodafone-Light.ttf') format('truetype');
    font-weight: 300;
    font-style : normal;
}

@font-face {
    font-family: 'Vodafone';
    src        : url('/fonts/Vodafone-ExtraBold.eot');
    src        : local('Vodafone-ExtraBold'),
        url('/fonts/Vodafone-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Vodafone-ExtraBold.woff2') format('woff2'),
        url('/fonts/Vodafone-ExtraBold.woff') format('woff'),
        url('/fonts/Vodafone-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style : normal;
}


* {
    font-family: 'Vodafone', sans-serif;
}

.slide-container {
    width  : 100vw;
    padding: 0;
    margin : 0;
}

#slide-10 {
    .txtintro {
        width          : 100vw;
        display        : flex;
        align-items    : center;
        justify-content: center;
        flex-direction : row;
    }

    .subint {
        h2 {
            font-size     : 114px;
            font-weight   : 600;
            font-stretch  : normal;
            font-style    : normal;
            line-height   : normal;
            letter-spacing: normal;
            text-align    : center;
            color         : #fff;
        }

        p {
            font-family   : Raleway;
            font-size     : 28px;
            font-weight   : normal;
            font-stretch  : normal;
            font-style    : normal;
            line-height   : 1.44;
            letter-spacing: normal;
            text-align    : center;
            color         : #fff;
        }
    }

    .points-fort {
        height         : 100vh;
        display        : flex;
        align-items    : center;
        justify-content: center;
        flex-direction : column;
        background     : linear-gradient(to bottom, #D50002, #ED1311);
        background     : -webkit-linear-gradient(top, #D50002, #ED1311);
        /* For Safari */
        background     : -moz-linear-gradient(top, #D50002, #ED1311);
        /* For Firefox */
        background     : -o-linear-gradient(top, #D50002, #ED1311);
        /* For Opera */
        background     : -ms-linear-gradient(top, #D50002, #ED1311);
        /* For Internet Explorer 10+ */


    }
}

.slapjh {
    position: relative;
}

.subint {
    // height: 100vh;
    // overflow-y: auto;
    // padding: 2rem;
    // opacity: 1;
}

.points-fort {
    opacity  : 0;
    transform: translateY(50px);
    padding  : 2rem;
}

.subint {
    position       : absolute;
    top            : 0;
    margin         : auto;
    right          : 0;
    bottom         : 0;
    transition     : opacity 0.5s;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    overflow-y     : auto;
    padding        : 2rem;
    display        : flex;
    max-width      : 50vw;
    flex-direction : column;
    flex-grow      : 1;

    height            : fit-content;
    overflow-y        : auto;
    padding           : 2rem;
    -webkit-transition: opacity 0.5s;
    -moz-transition   : opacity 0.5s;
    -ms-transition    : opacity 0.5s;
    -o-transition     : opacity 0.5s;
}

.points-fort {
    opacity   : 0;
    transform : translateY(50px);
    padding   : 2rem;
    transition: all 1s;
    width     : 50vw;
    position  : absolute;
    top       : 0;
    margin    : auto;
    right     : 0;
    bottom    : 0;
}

.gsap-marker-scroller-start,
.gsap-marker-scroller-end,
.gsap-marker-start,
.gsap-marker-end {
    visibility: hidden !important;
}

#slide-20 {}

#slide-21 {}

#slide-22 {}

#slide-23 {}

#slide-59 {}

#slide-60 {}