// Variables
$vodafone-red      : #e60000;
$vodafone-light-red: #ff1a1a;
$primary-color     : #ff0000;

// Styles globaux
body {
    margin         : 0 !important;
    padding        : 0 !important;
    box-sizing     : border-box;
    background-size: cover;

}

//Police vodafone 

@font-face {
    font-family: 'Vodafone';
    src        : url('/fonts/Vodafone.eot');
    src        : local('Vodafone'),
        url('/fonts/Vodafone.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Vodafone.woff2') format('woff2'),
        url('/fonts/Vodafone.woff') format('woff'),
        url('/fonts/Vodafone.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Vodafone';
    src        : url('/fonts/Vodafone-Bold.eot');
    src        : local('Vodafone-Bold'),
        url('/fonts/Vodafone-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Vodafone-Bold.woff2') format('woff2'),
        url('/fonts/Vodafone-Bold.woff') format('woff'),
        url('/fonts/Vodafone-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style : normal;
}

@font-face {
    font-family: 'Vodafone';
    src        : url('/fonts/Vodafone-Light.eot');
    src        : local('Vodafone-Light'),
        url('/fonts/Vodafone-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Vodafone-Light.woff2') format('woff2'),
        url('/fonts/Vodafone-Light.woff') format('woff'),
        url('/fonts/Vodafone-Light.ttf') format('truetype');
    font-weight: 300;
    font-style : normal;
}

@font-face {
    font-family: 'Vodafone';
    src        : url('/fonts/Vodafone-ExtraBold.eot');
    src        : local('Vodafone-ExtraBold'),
        url('/fonts/Vodafone-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Vodafone-ExtraBold.woff2') format('woff2'),
        url('/fonts/Vodafone-ExtraBold.woff') format('woff'),
        url('/fonts/Vodafone-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style : normal;
}


* {
    font-family: 'Vodafone', sans-serif;
}

#slide-10 {
    .subintro {
        h2 {
            font-size     : 114px;
            font-weight   : 600;
            font-stretch  : normal;
            font-style    : normal;
            line-height   : normal;
            letter-spacing: normal;
            text-align    : center;
            color         : #fff;
        }

        p {
            font-family   : Raleway;
            font-size     : 28px;
            font-weight   : normal;
            font-stretch  : normal;
            font-style    : normal;
            line-height   : 1.44;
            letter-spacing: normal;
            text-align    : center;
            color         : #fff;
        }
    }
}


#slide-20 {}

#slide-21 {}

#slide-22 {}

#slide-23 {}

#slide-59 {}

#slide-60 {}